<div class="container">
    <div class="row my-5 justify-content-evenly">
      <div class="nav d-flex nav-pills mb-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <div class="col-3">
          <button class="nav-link active  text-black" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-users" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Users</button>
        </div>
        <div class="col-3">
          <button class="nav-link  text-black" id="v-pills-categories-tab" data-bs-toggle="pill" data-bs-target="#v-pills-categories" type="button" role="tab" aria-controls="v-pills-Categories" aria-selected="false">Prdoucts</button>
        </div>
        <div class="col-3">
          <button class="nav-link  text-black" id="v-pills-add-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add" type="button" role="tab" aria-controls="v-pills-add" aria-selected="false">Add New User Or Admin</button>
        </div>
      </div>
      <div class="tab-content col-9 col-md-12 mx-auto" id="v-pills-tabContent">
        <div class="tab-pane fade show active " id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab" tabindex="0"><app-show-users-admin></app-show-users-admin></div>
        <div class="tab-pane fade " id="v-pills-categories" role="tabpanel" aria-labelledby="v-pills-categories-tab" tabindex="0"><app-show-products-admin></app-show-products-admin></div>
        <div class="tab-pane fade " id="v-pills-add" role="tabpanel" aria-labelledby="v-pills-add-tab" tabindex="0"><app-add-user></app-add-user></div>
      </div>
    </div>
  </div>

