<!-- <div class="container">
<div class="row mt-5"></div>
  <h2>Id: {{singleProduct?._id}}</h2>
  <h4>Name Of Product: {{singleProduct?.title}}</h4>
  <h4>Price Of Product: {{singleProduct?.price}}$</h4>
  <h4>Catrgory Of Price: {{singleProduct?.content}}</h4>
</div> -->
<div class="container">
    <div class="row my-5">
      <div class="card text-center">
        <div class="card-header">
          <h3>Product Name :- {{singleProduct?.title}}</h3>
        </div>
        <div class="card-body">
          <h4 class="card-title">Product Description :- {{singleProduct?.content}}</h4>
          <p class="card-text"> Product Price :- {{singleProduct?.price}}$.</p>
        </div>
      </div>
    </div>
  </div>
  