<div class="container">
    <h2>Sign Up</h2>
    <form class="mt-5" [formGroup]="registerForm" (ngSubmit)="handleAddUser()">
  
      <div class="row justify-content-between">
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <div class="alert alert-danger" *ngIf="isSubmit && userData?.['name']?.invalid">
              <div *ngIf="userData?.['name']?.errors?.['required']">
                Name Is Required
              </div>
              <div *ngIf="userData?.['name']?.errors?.['minlength']">
                Name Must Be At Least 5 Char
              </div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="exampleInputAge1" class="form-label">Age</label>
            <input type="text" class="form-control" formControlName="age">
            <div class="alert alert-danger" *ngIf="isSubmit && userData?.['age']?.invalid">
              <div *ngIf="userData?.['age']?.errors?.['required']">
                Age Is Required
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="email" name="email">
            <div class="alert alert-danger" *ngIf="userEmail?.invalid && isSubmit">
              <div *ngIf="userEmail?.errors?.['required']">
                Email Is Required
              </div>
              <div *ngIf="userEmail?.errors?.['email']">
                Invalid Email
              </div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <div class="alert alert-danger" *ngIf="isSubmit && userData?.['password']?.invalid">
              <div *ngIf="userData?.['password']?.errors?.['required']">
                Password Is Required
              </div>
              <div *ngIf="userData?.['password']?.errors?.['minlength']">
                Password Must Be At Least 5 Char
              </div>
            </div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="exampleInputRole1" class="form-label">Select The User Level</label>
          <select class="form-select mb-4" formControlName="userLevel">
            <option value="" disabled selected >Select The User Level</option>
            <option value="admin">Admin</option>
            <option value="customer" selected>Customer</option>
          </select>
          <div class="alert alert-danger" *ngIf="isSubmit && userData?.['userLevel']?.invalid" >
            <div *ngIf="userData?.['userLevel']?.errors?.['required']">
              User Level is required
            </div>
          </div>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
  </div>
  
  