<div class="container">

    <form class="mt-5">
      <h2>This Data For "{{singleUser.name}}"</h2>
      <div class="row justify-content-between">
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <input type="text" class="form-control" value="{{singleUser.name}}" disabled>
          </div>
  
          <div class="mb-3">
            <label for="exampleInputAge1" class="form-label">Age</label>
            <input type="text" class="form-control" value="{{singleUser.age}}" disabled>
          </div>
  
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" value="{{singleUser.email}}" disabled>
          </div>
  
          <div class="mb-3">
            <label for="exampleInputUserLevel1" class="form-label">User Level</label>
            <input type="text" class="form-control" value="{{singleUser.userLevel}}" disabled>
          </div>
        </div>
      </div>
    </form>
  
  </div>
  
